/* ################################################################################################################################## */
/* ##################################### OVERRIDING ORIGINAL CSS WITH SOME MODIFICATIONS - BEGIN #################################### */
/* ################################################################################################################################## */

body {
	line-height: 1.42857143;
	color: #333;
	background-color: #fff;
	font-family: Tahoma,sans-serif;
	font-size: 13px;
}

a {
	text-decoration: none;
	color: #1079a5;
}

.form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}


/* BUTTONS - GENERAL */
.btn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	white-space: nowrap;
	font-size: 14px;
	border-radius: 0px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 0px solid transparent;
	height: 24px;
	line-height: 25px;
	margin: 1px 0 0;
	padding: 0px 6px 6px 6px;
	
}

.btn-primary, .btn-default {
	font-weight: bold;
	color: #fff;
	background-color: #333;
	border-color: #e0e0e0;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary,
.btn-default:hover, .btn-default:focus, .btn-default:active {
	background-color: #be0021;
	border-color: #333;
	color: #fff;
	outline: none;
}

.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled.focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary.focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
    background-color: #333;
}

.btn-link {
	font-weight: normal;
	cursor: pointer;
	border-radius: 0;
	color: #1079a5;
}

.btn-link:hover, .btn-link:focus {
	text-decoration: underline;
	background-color: transparent;
}

/* BUTTONS - DEFAULT SEARCHFORM */
#searchForm .btn-primary, #searchForm .btn-primary:hover, #searchForm .btn-primary:focus {
	background-color: #fff;
	text-decoration: none;
	color: #333;
}

#searchForm .btn-link {
	background-color: none;
	text-decoration: none;
	color: #fff;
	outline: none;
}

#searchForm .btn-link:hover {
	text-decoration: underline;
}


.navbar-brand {
	float: left;
	font-size: 18px;
	line-height: 20px;
	background:url("../images/akwien/akwien_logo.png") no-repeat scroll left center transparent;
	height:65px;
    width:130px;
    margin-top: 15px;
}

.navbar-form {
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
}


.modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #000;
}

.twitter-typeahead {
	background: none;
	border-radius: 0;
	vertical-align: middle;
}

.authoritybox {
	margin-bottom: 18px;
}

.akAdvancedSearchForm {
	padding-left: 15px;
}
 

#advSearchForm .row .col-sm-9 .row fieldset {
	margin-top: 20px;
}

#advSearchForm .row .col-sm-9 .row fieldset .slider-container {
	margin-bottom: 10px;
}

.slider-container .slider-handle {
	background: #1079a5 none repeat scroll 0 0;
    border: 1px solid #1079a5;
}

.search-controls {
	margin-top: 15px;
}

/* Autocomplete results */
/* crhallberg/autocomplete.js 0.14 */
.autocomplete-results {
  position: absolute;
  margin: 0;
  margin-top: 2px;
  padding: 0;
  border: 1px solid #d3d3d3;
  background-color: #ffffff;
  border-radius: 4px;
  overflow: hidden;
  z-index: 50;
}
.autocomplete-results .item {
  display: block;
  margin: 0;
  padding: .75rem 1.25rem;
  border-bottom: 1px solid #d3d3d3;
  cursor: pointer;
}
.autocomplete-results .item:last-child {
  border: 0;
}
.autocomplete-results .item:hover {
  background-color: #f5f5f5;
}
.autocomplete-results .item.loading {
  background-color: #ffffff;
}
.autocomplete-results .item.selected {
  background-color: #265680;
  color: #ffffff;
}
.autocomplete-results .item small {
  display: block;
  color: #a9a9a9;
}

/* ################################################################################################################################## */
/* ###################################### OVERRIDING ORIGINAL CSS WITH SOME MODIFICATIONS - END ##################################### */
/* ################################################################################################################################## */



/* ###################################################################################################### */
/* ##################################### AK BIBLIOTHEK WIEN - BEGIN ##################################### */
/* ###################################################################################################### */

.akSearchbox {
	background: none repeat scroll 0 0 #be0021;
}

.akSearchbox button {
	margin-bottom: 0;
}

.akSearchbox input[type="text"], .akSearchbox #searchForm_type {
	background: none repeat scroll 0 0 #fff;
    border: 0 none;
    color: #666666;
    font-size: 1em;
    height: 24px;
    line-height: 25px;
    margin: 1px 0 0 0;    
    padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 8px;
    border-radius: 0px;
}

.akSearchbox input[type="text"] {
	padding-right: 5px;
}

.akSearchbox label {
	color: #f4f4f2;
}

.akSubtitle {
	text-overflow: ellipsis;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
}

#searchForm_lookfor {
	background-color: #fff !important;
	vertical-align: middle !important;
}

#advSearchForm .group {
	margin-bottom: 5px;
	padding: 10px;
	background-color: #edecea;
}

#advSearchForm .col-sm-9 .row {
	margin-left: 0;
}

.slider.slider-horizontal {
    margin-left: 10px;
    margin-top: 10px;
}

.akEntityFactsOpener {
	float: right;
}

.akEntityFactsOpener .fa, .akEntityFactsTooltipClose .fa {
	cursor: pointer;
}

.akEntityFactsTooltip {
	position: absolute;
	z-index: 999;
	background-color: #dedede;
	padding: 5px;
	border: 1px solid #fff;
	width: 300px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.akEntityFactsTooltipClose {
	cursor: pointer !important;
	font-size: 16px;
	float: right;
}

.akEntitiyFactsTable th, .akEntitiyFactsTable td {
	padding: 2px;
	vertical-align: top;
}

.akClearer {
	clear: both;
}

#akMyListContainer {
	margin-top: 20px;
}

#akMyListContainer .label-info {
	display: none;
}

#akMyListContainer .row {
	padding-bottom: 10px;
	padding-top: 10px;
	border-top: solid 1px #eee;
}

#akMyListContainer .resultItemLine1 {
	font-weight: bold;
}


@media ( max-width : 767px) {
	.btn {
		margin-top: 5px;
	}
	.akEntityFactsTooltip {
		width: 250px;
		margin-left: -25px;
	}
	h4{
		font-size: 14px;
	}
}


/* ###################################################################################################### */
/* ###################################### AK BIBLIOTHEK WIEN - END ###################################### */
/* ###################################################################################################### */