/* ################################################################################################################################## */
/* ##################################### OVERRIDING ORIGINAL CSS WITH SOME MODIFICATIONS - BEGIN #################################### */
/* ################################################################################################################################## */

body {
	line-height: 1.42857143;
	color: #333;
	background-color: #fff;
	font-family: Tahoma,sans-serif;
	font-size: 13px;
}

a {
	text-decoration: none;
	color: #1079a5;
	outline: 0 !important;
}

#systemChangeAlert {
	border: medium solid red;
	float: left;
	padding-top: 18px;
	padding-bottom: 18px;
	padding-left: 8px;
	padding-right: 8px;
	margin-left: 25px;
	margin-top: 16px;
	font-size: 15px;
	font-weight: bold;
}

#systemChangeAlert2 {
	border: medium solid red;
	padding-top: 18px;
	padding-bottom: 18px;
	padding-left: 8px;
	padding-right: 8px;
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 16px;
	margin-bottom: 16px;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
}

.fa-exclamation-triangle {
	color: #f57900 !important;
	font-size: 20px;
}

.fa-exclamation-triangle.smallTriangle {
	color: #f57900 !important;
	font-size: 15px;
}

.container {
	width: 85%;
}

.form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}


/* BUTTONS - GENERAL */
.btn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	white-space: nowrap;
	font-size: 14px;
	border-radius: 0px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 0px solid transparent;
	height: 24px;
	line-height: 25px;
	margin: 1px 0 0;
	padding: 0px 6px 6px 6px;
	
}

.btn-primary, .btn-default {
	font-weight: bold;
	color: #fff;
	background-color: #333;
	border-color: #e0e0e0;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary,
.btn-default:hover, .btn-default:focus, .btn-default:active {
	background-color: #be0021;
	border-color: #333;
	color: #fff;
	outline: none;
}

.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled.focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary.focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
    background-color: #333;
}

.btn-link {
	font-weight: normal;
	cursor: pointer;
	border-radius: 0;
	color: #1079a5;
}

.btn-link:hover, .btn-link:focus {
	text-decoration: underline;
	background-color: transparent;
}

/* BUTTONS - DEFAULT SEARCHFORM */
#searchForm .btn-primary, #searchForm .btn-primary:hover, #searchForm .btn-primary:focus {
	background-color: #fff;
	text-decoration: none;
	color: #333;
}

#searchForm .btn-link {
	background-color: none;
	text-decoration: none;
	color: #fff;
	outline: none;
}

#searchForm .btn-link:hover {
	text-decoration: underline;
}


/* Search-Bar and Breadcrumbs */
.navbar-brand {
	float: left;
	font-size: 18px;
	line-height: 20px;
	background:url("../images/akwien/akwien_logo.png") no-repeat scroll left center transparent;
	height:65px;
    width:130px;
    margin-top: 15px;
}

.navbar-form {
	padding: 0;
}

.navbar-left {
	float: none !important;
}

.breadcrumb {
	padding-left: 1px;
}

.breadcrumb > div > .active {
    color: #777;
}

.breadcrumb > div > li {
	display: inline-block
}

.breadcrumb > div > li + li:before {
	content: "/\00a0"; /* Slashes between breadcrumb sections */
	padding: 0 5px;
	color: #ccc
}

#searchForm_lookfor.form-control {
	max-width: none !important;
}

.modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #000;
}

.twitter-typeahead {
	background: none;
	border-radius: 0;
	vertical-align: middle;
}

.authoritybox {
	margin-bottom: 18px;
}


#advSearchForm .row .col-sm-9 .row fieldset {
	margin-top: 20px;
}

#advSearchForm .row .col-sm-9 .row fieldset .slider-container {
	margin-bottom: 10px;
}

.slider-container .slider-handle {
	background: #1079a5 none repeat scroll 0 0;
    border: 1px solid #1079a5;
}

.search-controls {
	margin-top: 15px;
}


/* Result list */
.result a.title {
    font-weight: normal;
    font-size: 16px;
}

.result .left img {
	max-width: 90%;
}


/* Record view */
.recordTabs, #record {
	margin-top: 15px;
}

#record .recordcover {
	max-width: 90%;
}



/* Autocomplete results */
/* crhallberg/autocomplete.js 0.14 */
.autocomplete-results {
  position: absolute;
  margin: 0;
  margin-top: 2px;
  padding: 0;
  border: 1px solid #d3d3d3;
  background-color: #ffffff;
  border-radius: 4px;
  overflow: hidden;
  z-index: 50;
}
.autocomplete-results .item {
  display: block;
  margin: 0;
  padding: .75rem 1.25rem;
  border-bottom: 1px solid #d3d3d3;
  cursor: pointer;
}
.autocomplete-results .item:last-child {
  border: 0;
}
.autocomplete-results .item:hover {
  background-color: #f5f5f5;
}
.autocomplete-results .item.loading {
  background-color: #ffffff;
}
.autocomplete-results .item.selected {
  background-color: #265680;
  color: #ffffff;
}
.autocomplete-results .item small {
  display: block;
  color: #a9a9a9;
}

/* Tables */
.table {
    table-layout: auto; /* Save space by keeping left column left-aligned */
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	border-bottom: 1px solid #ddd; /* Adding bottom border to better terminate a certain block */
}

/* Browse cataloge */
a.list-group-item:hover, a.list-group-item:focus {
	background-color: #ececec; /* Better visibility of hover colour */
}


@media ( min-width : 768px) {	
	#loginForm .form-control {
   		max-width: none;
	}

}

/* ################################################################################################################################## */
/* ###################################### OVERRIDING ORIGINAL CSS WITH SOME MODIFICATIONS - END ##################################### */
/* ################################################################################################################################## */



/* ###################################################################################################### */
/* ##################################### AK BIBLIOTHEK WIEN - BEGIN ##################################### */
/* ###################################################################################################### */

.akH1 {
	font-size: 20px;
	font-weight: normal;
	margin-top: 20px;
	margin-bottom: 10px;
	font-family: inherit;
	line-height: 1.1;
	color: inherit;
}

.akH2 {
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}

.akSearchbox {
	background: none repeat scroll 0 0 #be0021;
}

.akSearchbox button {
	margin-bottom: 0;
}

.akSearchbox input[type="text"], .akSearchbox #searchForm_type {
	background: none repeat scroll 0 0 #fff;
    border: 0 none;
    color: #666666;
    font-size: 1em;
    height: 24px;
    line-height: 25px;
    margin: 1px 0 0 0;    
    padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 8px;
    border-radius: 0px;
}

.akSearchbox input[type="text"] {
	padding-right: 5px;
}

.akSearchbox label {
	color: #f4f4f2;
}

.akEllipsis {
	text-overflow: ellipsis;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.akSubtitle {
	font-weight: normal;
	font-size: inherit;	
}

.akResultListSeparator {
	margin-top: 10px;
}

.akResultListCaption {
	font-weight: bold;
	color: #444;
}



#searchForm_lookfor {
	background-color: #fff !important;
	vertical-align: middle !important;
	width: 40%;
}

#advSearchForm .group {
	margin-bottom: 5px;
	padding: 10px;
	background-color: #edecea;
}

#advSearchForm .col-sm-9 .row {
	margin-left: 0;
}

.slider.slider-horizontal {
    margin-left: 10px;
    margin-top: 10px;
}

.akEntityFactsOpener {
	float: right;
}

.akEntityFactsOpener .fa, .akEntityFactsTooltipClose .fa {
	cursor: pointer;
}

.akEntityFactsTooltip {
	position: absolute;
	z-index: 999;
	background-color: #dedede;
	padding: 5px;
	border: 1px solid #fff;
	width: 300px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	right: 30px;
}

.akEntityFactsTooltipClose {
	cursor: pointer !important;
	font-size: 16px;
	float: right;
}

.akEntitiyFactsTable th, .akEntitiyFactsTable td {
	padding: 2px;
	vertical-align: top;
}

.akLeft {
	float: left;
}

.akRight {
	float: right;
}

.akClearer {
	clear: both;
}

#akMyListContainer {
	margin-top: 20px;
}

#akMyListContainer .label-info {
	display: none;
}

#akMyListContainer .row {
	padding-bottom: 10px;
	padding-top: 10px;
	border-top: solid 1px #eee;
}

#akMyListContainer .resultItemLine1 {
	font-weight: bold;
}

.akKeywordChainsSeparator {
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #eee -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-style: solid none none;
    border-width: 1px 0 0;
    margin-bottom: 10px;
    margin-top: 10px;
    box-sizing: content-box;
    height: 0;
}

.akKeywordChainArrow {
	font-size: 90%;
}

.akInfoTooltipOpener {
	float: right;
}

.akInfoTooltipOpener .fa, .akInfoTooltipClose .fa {
	cursor: pointer;
}

.akInfoTooltip {
	position: absolute;
	z-index: 5000;
	background-color: #dedede;
	padding: 5px;
	border: 1px solid #fff;
	width: 300px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.akInfoTooltipClose {
	cursor: pointer !important;
	font-size: 16px;
	float: right;
}

#newItemsFilter {
	width: 100%;
}

.akBrowseColHeading {
	font-weight: bold;
	margin-bottom: 10px;
	color: #555;
}

.akFacetsInfo {
	/*margin-left: 10px;*/
	position: absolute;
	right: 40px;
	top: 14px;
}

.akInfoHoldings {
	margin-top: 10px;
}

.akLoadMore {
	margin-top: -10px;
	text-align: right;
	background-color: #f9f9f9;
	padding: 3px;
	border-radius: 5px;
}

#akLoadMoreItemsSpinner {
	display: none;
}


/* Tip Tooltip general */
.akTipTooltip {
	position: absolute;
	font-size: 11px;
	background-color: #fcaf3e;
	border-radius: 5px;
	webkit-filter: drop-shadow(0 0 5px rgba(150, 150, 150, 0.75));
	-moz-filter: drop-shadow(0 0 5px rgba(150, 150, 150, 0.75));
	-ms-filter: drop-shadow(0 0 5px rgba(150, 150, 150, 0.75));
	-o-filter: drop-shadow(0 0 5px rgba(150, 150, 150, 0.75));
	filter: drop-shadow(0 0 5px rgba(150, 150, 150, 0.75));
	z-index: 99;
}

.akTipTooltip:AFTER {
	position: absolute;
	width: 0; 
	height: 0;
	right: 47%;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #fcaf3e;
	top: 100%;
	content: " ";
	z-index: 100;
}

.akTipTooltipHeader {
	background-color: #f57900;
	font-weight: bold;
	border-radius: 5px 5px 0px 0px;
	width: 100%;
}

.akTipTooltipHeaderText, .akTipTooltipHeaderClose {
	padding: 8px;
}

.akTipTooltipHeaderText {
	float: left;
}

.akTipTooltipHeaderClose {
	float: right;
	cursor: pointer;
}

.akTipTooltipHeaderClose .fa {
	cursor: pointer;
}

.akTipTooltipText {
	border-radius: 5px;
	padding: 8px;
}

/* Tip Tooltip specific */
#akFacetTipTooltip {
	display: none;
	max-width: 95%;
	top: -75px;
	left: 20px;
}



/* Feature Intro */
.akFeatureIntro {
	position: relative;
	height: 350px;
	width: 100%;
	margin-top: 30px;
	margin-bottom: 40px;
	z-index: 1;
}

.akFeatureIntro .fa-chevron-down {
	cursor: pointer;
}

.akFeatureIntro a {
	text-decoration: underline;
	color: white;
}

.akFeatureIntroShadow {
	/*
	webkit-filter: drop-shadow(0 0 5px rgba(150, 150, 150, 0.75));
	-moz-filter: drop-shadow(0 0 5px rgba(150, 150, 150, 0.75));
	-ms-filter: drop-shadow(0 0 5px rgba(150, 150, 150, 0.75));
	-o-filter: drop-shadow(0 0 5px rgba(150, 150, 150, 0.75));
	filter: drop-shadow(0 0 5px rgba(150, 150, 150, 0.75));
	*/	
}

.akFeatureIntroHideRight {
	position: absolute;
	right: -105%;
}

.akFeatureIntroHideLeft {
	position: absolute;
	left: -105%;
}

.akTextAlignRight {
	text-align: right;
}
.akFeatureIntroContentBoxHeader {
	cursor: pointer;
	font-weight: bold;
	font-size: 14px;
	width: 100%;
}

.akFeatureIntroContentBoxText {
	margin-top: 30px;
	font-weight: normal;
	font-size: 14px;
	display: none;
}

.akFeatureIntroContentBox {
	padding: 10px;
	background-color: #777;
	color: white;
}

#akFeatureIntroHeader {
	color: #be0021;
	font-weight: bold;
	font-size: 20px;
	width: 85%;
	z-index: 99;
}

#akFeatureIntroSubHeader {
	/*padding-left: 10px;
	padding-top: 3px;
	padding-bottom: 3px;*/
	padding: 10px;
	background-color: #333;
	border-left: 1px #333 solid;
	border-right: 1px #333 solid;
	border-bottom: 1px #333 solid;
	color: white;
	font-weight: bold;
	font-size: 18px;
	width: 100%;
	margin-top: 38px;
	padding-left: 10%;
	z-index: 100;
}

#akFeatureIntroContentBox1 {
	width: 55%;
	margin-top: 105px;
	z-index: 98;
}

#akFeatureIntroContentBox2 {
	width: 70%;
	margin-top: 160px;
	z-index: 97;
}

#akFeatureIntroContentBox3 {
	width: 60%;
	margin-top: 215px;
	z-index: 96;
}

#akFeatureIntroContentBox4 {
	width: 65%;
	margin-top: 270px;
	z-index: 95;
}

.akTableInnerRow {
	margin-bottom: 10px;
}

.akTableInnerRow:LAST-CHILD {
	margin-bottom: 0px;
}



#almaUserRegistration td {
	vertical-align: middle;
}

#almaUserRegistration input[type=text], #almaUserRegistration input[type=password], #almaUserRegistration select {
	width: 95%; 
}

/*
#almaUserRegistration td {
	padding-top: 4px;
}
*/

#almaUserRegistration td:FIRST-CHILD {
	white-space: nowrap;
	padding-left: 15px;
	padding-right: 25px;
}

#almaUserRegistration .akInfoTooltipOpener {
	float: none;
}

#almaUserRegistration .form-control {
	display: inline;
}

#almaUserRegistration .form-group::BEFORE {
	content: none;
}

#almaUserRegistration .fa-refresh {
	font-size: 19px;
}
/*
#almaUserRegistration input[type="checkbox"] {
	margin-top: 0px;
}
*/
/*
#almaUserRegistration td:nth-child(2) {
	text-align: right;
}
*/

/*
.error {
	color: red;
}

.small {
	font-size: 11px;
}

#reloadImage {
	vertical-align: middle;
	outline: none;
}

*/








/* ############################### MEDIA QUERIES ############################### */

@media ( max-width : 767px) {
	
	body {
		font-size: 14px;
	}
	
	header {
		margin-bottom: 5px;
	}
	
	header .container.navbar {
		margin-bottom: 15px;
	}
	
	h4 {
		font-size: 14px;
	}
	
	#systemChangeAlert {
		border: medium solid red;
		float: left;
		padding-top: 8px;
		padding-bottom: 8px;
		padding-left: 5px;
		padding-right: 5px;
		margin-top: 8px;
		margin-left: -15px;
		font-size: 15px;
		font-weight: bold;
	}
	
	.fa-exclamation-triangle {
		color: #f57900 !important;
	}
	
	.container {
		width: 95%;
	}
	
	.form-control {
		font-size: 14px;	
	}

	.btn {
		margin-top: 5px;
		font-size: 16px;
		height: 35px;
		padding: 5px;
	}
	
	.navbar-header .fa-bars {
		font-size: 25px;
	}
	
	.sidebar {
		border-top: 1px solid #ddd;
		padding-top: 15px;
		margin-top: 45px;
	}
	
	.sidegroup {
		margin-top: 45px;
	}
	
	.akEntityFactsTooltip {
		/*width: 250px;*/
		margin-left: -25px;
		right: 0px;
	}

	.akSearchbox input[type="text"], .akSearchbox #searchForm_type {
		height: 34px;
		line_height: 35px;
		font-size: 1.3em;
		margin-top: 5px;
	}
	
	.recordTabs li #usercomments {
		display: none;
	}
	
	#searchForm_lookfor {
		width: 100%;
	}
	
	#searchForm .btn-primary {
		width: 100%;
	}
	
	#searchForm .btn-link {
		margin-top: 10px;
		font-weight: bold;
	}
	
	
	#advSearchForm .col-sm-9 {
		padding-left: 0px;
		padding-right: 0px;
	}
	
	#advSearchForm .row {
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 10px;
		margin-bottom: 5px;
	}
	
	#advSearchForm .group {
		padding: 0;
	}
	
	#advSearchForm .col-sm-1.close {
		display: none;
	}
	
	#advSearchForm .group .search .middle {
		width: 100%;
	}
	
	#advSearchForm .col-sm-3.match {
		margin-bottom: 15px;
		padding-left: 15px;
		padding-right: 15px;
	}
	
	#advSearchForm .search_place_holder {
		margin-top: 25px;
		margin-bottom: 25px;
		margin-left: 15px;
	}
	
	#advSearchForm .col-sm-3, #advSearchForm .col-sm-6 {
		margin-top: 18px;
		padding-left: 0px;
		padding-right: 0px;
	}
	
	#advSearchForm .col-sm-3 .help-block {
		padding-left: 15px;
	}
	
	#advSearchForm .col-sm-12, #advSearchForm .col-sm-4 {
		padding-left: 0px;
		padding-right: 0px;
	}
	
	#advSearchForm .col-sm-4.middle {
		padding-left: 15px;
		padding-right: 15px;
	}
	
	#advSearchForm legend {
		margin-bottom: 0px;
	}
	
	#advSearchForm .slider.slider-horizontal {
		margin-left: 0px;
	}
	
	#record .recordcover {
		max-width: 50%;
	}
	
	.akTipTooltip {
		font-size: 13px;
	}
	
	#akFacetTipTooltip {
		top: -60px;
		left: 20px;
		max-width: 100%;
	}
	
	
	.akFeatureIntro {
		position: relative;
		height: auto;
		width: 100%;
		margin-top: 40px;
		padding-bottom: 10px;
		z-index: 1;
	}

	.akFeatureIntroHideRight {
		position: relative;
		right: 0%;
	}
	
	.akFeatureIntroHideLeft {
		position: relative;
		left: 0%;
	}
	
	#akFeatureIntroHeader {
		width: 100%;
	}
	
	#akFeatureIntroSubHeader {
		padding-left: 10px;
		margin-top: 0px;
	}
	
	#akFeatureIntroContentBox1, #akFeatureIntroContentBox2, #akFeatureIntroContentBox3, #akFeatureIntroContentBox4 {
		margin-top: 10px;
		width: 100%;
	}

}



@media ( min-width : 768px) {	
	#almaUserRegistration input[type=text], #almaUserRegistration input[type=password], #almaUserRegistration select {
		max-width: 95%;
	}
}



/* ###################################################################################################### */
/* ###################################### AK BIBLIOTHEK WIEN - END ###################################### */
/* ###################################################################################################### */