[submodule "module/AkSearch"]
	path = module/AkSearch
	url  = https://github.com/acdh-oeaw/aksearch-module-core.git
[submodule "module/AkSearchSearch"]
	path = module/AkSearchSearch
	url  = https://github.com/acdh-oeaw/aksearch-module-search.git
[submodule "module/AkSearchApi"]
	path = module/AkSearchApi
	url  = https://github.com/acdh-oeaw/aksearch-module-api.git
[submodule "module/AkSearchConsole"]
	path = module/AkSearchConsole
	url  = https://github.com/acdh-oeaw/aksearch-module-console.git
[submodule "themes/AkSearch"]
	path = themes/AkSearch
	url  = https://github.com/acdh-oeaw/aksearch-theme.git
