[submodule "module/AkSearch"]
	path = module/AkSearch
	url = https://biapps.arbeiterkammer.at/gitlab/aksearch/coremodule.git
[submodule "themes/AkSearch"]
	path = themes/AkSearch
	url = https://biapps.arbeiterkammer.at/gitlab/aksearch/theme.git
[submodule "module/AkSearchSearch"]
	path = module/AkSearchSearch
	url = https://biapps.arbeiterkammer.at/gitlab/aksearch/searchmodule.git
[submodule "module/AkSearchApi"]
	path = module/AkSearchApi
	url = https://biapps.arbeiterkammer.at/gitlab/aksearch/module-api.git
