# GNU Emacs temporary files

ChangeLog
\#*
.\#*
TAGS
*~
vendor/.git
/.project
/.buildpath
/.settings
/.m2
/.links
/config/*
/module/AkSearch/config/module.config.php
/local/config/aksearch_defaults/AKsearch.ini
/import/solrmarc.log*
/local/config/vufind/Alma.ini
/local/config/vufind/AKsearch.ini
/akimporter/data_unpacked
/akimporter/data_update
/akimporter/sample_data
